<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangjiayu.springboot.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.wangjiayu.springboot.model.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="modelname" property="modelname" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangjiayu.springboot.model.Permission" useGeneratedKeys="true" keyProperty="id" >
    insert into permission (modelname, permission)
    values (#{modelname,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wangjiayu.springboot.model.Permission" >
    update permission
    set modelname = #{modelname,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, modelname, permission
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, modelname, permission
    from permission
  </select>
</mapper>